section#contact-info {
	font-size: .8em;
}

.job {
	background: #e9e5dc;
	border-radius: 5px;
}

ul.accomplishments {

	font-size: .8em;
}

.accomplishments:hover {
	background-color: red;
}

ul li {
	font-size: .9em;
}